@import "tailwindcss";

@font-face {
  font-family: "HelveticaNeue";
  src: url("/assets/font/HelveticaNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/assets/font/HelveticaNeue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/assets/font/HelveticaNeue-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

  @font-face {
    font-family: 'Berday Free';
    font-style: normal;
    font-weight: normal;
    src: url("/assets/font/BerdayFree-0WX5v.woff") format("woff");
    }

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes zoomIn {
  from { transform: scale(0.85); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-zoomIn {
  animation: zoomIn 0.3s ease-out;
}





:root {
  --background: #ffffff;
  --foreground: #171717;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-helvetica {
  font-family: "HelveticaNeue", sans-serif;
}
.font-berday{
 font-family:'Berday Free';font-weight:normal;font-size:42px;
}






/***************popup*********/
/* OPEN animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes popupZoom {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

.animate-popupZoom {
  animation: popupZoom 0.35s ease-out forwards;
}

/* CLOSE animations */
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes popupClose {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.7);
  }
}

.animate-fadeOut {
  animation: fadeOut 0.3s ease-in forwards;
}

.animate-popupClose {
  animation: popupClose 0.3s ease-in forwards;
}
